# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [1]:
import pandas as pd
from scipy.spatial.distance import pdist, squareform

In [3]:
data = pd.read_csv('../data/customer_product_sales.csv')

In [4]:
data.head()

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [43]:
data_grouped = data.groupby(by=['CustomerID','ProductName']).sum(numeric_only=True).reset_index()
data_grouped

       CustomerID                    ProductName  SalesID  ProductID  Quantity
0              33               Apricots - Dried   172592        324         1
1              33              Assorted Desserts  5363705        219         1
2              33        Bandage - Flexible Neon  6299165        273         1
3              33  Bar Mix - Pina Colada, 355 Ml  3147536        281         1
4              33         Beans - Kidney, Canned  6507033        300         1
...           ...                            ...      ...        ...       ...
63623       98200                   Vol Au Vents  5160346        272        50
63624       98200                  Wasabi Powder  4438427         80        25
63625       98200       Wine - Fume Blanc Fetzer  6226060         76        25
63626       98200  Wine - Hardys Bankside Shiraz   266676        360        25
63627       98200        Yogurt - French Vanilla  2112061        320        25

[63628 rows x 5 columns]

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [44]:
data_pivot = data_grouped.pivot_table(values='Quantity', index='ProductName', columns='CustomerID', aggfunc='sum').fillna(0)
data_pivot

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
ProductName,,,,,,,,,,,,,,,,,,,,,
Anchovy Paste - 56 G Tube,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Appetizer - Mini Egg Roll, Shrimp",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,25.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Appetizer - Mushroom Tart,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,0.0
Appetizer - Sausage Rolls,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,25.0,25.0,25.0,0.0,25.0,0.0
Apricots - Dried,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yeast Dry - Fermipan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0
Yoghurt Tubes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,0.0,0.0
"Yogurt - Blueberry, 175 Gr",0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,25.0,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0
Yogurt - French Vanilla,1.0,0.0,0.0,1.0,0.0,0.0,2.0,0.0,0.0,1.0,...,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0
Zucchini - Yellow,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [45]:
dist_calculation = pdist(X=data_pivot.T, metric='euclidean')
dist_distribution = squareform(dist_calculation)

euclid_dist = pd.DataFrame(dist_distribution,
                           index=data_pivot.columns, 
                           columns=data_pivot.columns)

euclid_dist_norm = pd.DataFrame(1/(1 + squareform(pdist(X=data_pivot.T, metric='euclidean'))),
                                index=data_pivot.columns,
                                columns=data_pivot.columns)

euclid_dist_norm

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,1.000000,0.077421,0.087047,0.081800,0.080634,0.082709,0.074573,0.083020,0.081503,0.080070,...,0.004811,0.004669,0.004412,0.005019,0.004312,0.004515,0.004583,0.004355,0.004167,0.004333
200,0.077421,1.000000,0.078448,0.076435,0.073693,0.075255,0.075956,0.076435,0.077674,0.076923,...,0.004824,0.004681,0.004431,0.005047,0.004311,0.004521,0.004614,0.004367,0.004166,0.004335
264,0.087047,0.078448,1.000000,0.080070,0.081800,0.080350,0.076923,0.080634,0.082100,0.078448,...,0.004822,0.004674,0.004416,0.005035,0.004322,0.004543,0.004595,0.004365,0.004179,0.004333
356,0.081800,0.076435,0.080070,1.000000,0.076435,0.078187,0.075025,0.082403,0.077171,0.075956,...,0.004816,0.004671,0.004416,0.005038,0.004310,0.004526,0.004578,0.004365,0.004175,0.004339
412,0.080634,0.073693,0.081800,0.076435,1.000000,0.078711,0.075025,0.082403,0.078187,0.078448,...,0.004810,0.004702,0.004414,0.005034,0.004318,0.004530,0.004578,0.004367,0.004177,0.004349
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97928,0.004515,0.004521,0.004543,0.004526,0.004530,0.004533,0.004534,0.004526,0.004528,0.004523,...,0.003509,0.003509,0.003300,0.003653,0.003579,1.000000,0.003638,0.003418,0.003255,0.003245
98069,0.004583,0.004614,0.004595,0.004578,0.004578,0.004578,0.004589,0.004581,0.004585,0.004592,...,0.003509,0.003509,0.003369,0.003509,0.003496,0.003638,1.000000,0.003469,0.003345,0.003381
98159,0.004355,0.004367,0.004365,0.004365,0.004367,0.004363,0.004366,0.004363,0.004369,0.004365,...,0.003509,0.003565,0.003322,0.003431,0.003322,0.003418,0.003469,1.000000,0.003277,0.003266
98185,0.004167,0.004166,0.004179,0.004175,0.004177,0.004167,0.004168,0.004176,0.004172,0.004161,...,0.003311,0.003162,0.003255,0.003406,0.003172,0.003255,0.003345,0.003277,1.000000,0.003288
98200,0.004333,0.004335,0.004333,0.004339,0.004349,0.004347,0.004338,0.004335,0.004329,0.004347,...,0.003418,0.003345,0.003381,0.003444,0.003288,0.003245,0.003381,0.003266,0.003288,1.000000

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [46]:
def top5_similar_customers(CustomerID):
    return list(euclid_dist_norm[CustomerID].sort_values(ascending=False).iloc[1:6].index)

top5_similar_customers(200)

[3317, 1072, 3535, 1920, 3909]

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [52]:
data_top5_similar_customers = data_grouped[data_grouped['CustomerID'].isin(top5_similar_customers(200))]
data_top5_similar_customers

,CustomerID,ProductName,SalesID,ProductID,Quantity
1082,1072,"Appetizer - Mini Egg Roll, Shrimp",4770059,327,1
1083,1072,Appetizer - Sausage Rolls,6604526,73,1
1084,1072,"Beans - Kidney, Canned",1148109,300,1
1085,1072,Beef - Montreal Smoked Brisket,705042,373,1
1086,1072,Beef - Striploin Aa,1804237,339,1
...,...,...,...,...,...
3263,3909,Wine - Charddonnay Errazuriz,9045484,450,2
3264,3909,Wine - Fume Blanc Fetzer,3349679,76,1
3265,3909,"Wine - Magnotta, Merlot Sr Vqa",3566710,192,1
3266,3909,Wine - Toasted Head,4134000,134,1
3267,3909,Wine - Valpolicella Masi,3584400,296,1

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [54]:
data_products_top5 = data_top5_similar_customers.groupby('ProductName')['Quantity'].sum().sort_values(ascending=False).reset_index()
data_products_top5

                         ProductName  Quantity
0       Soup - Campbells Bean Medley         4
1    Muffin - Carrot Individual Wrap         3
2                           Bay Leaf         3
3                      Pork - Kidney         3
4              Pepper - Black, Whole         3
..                               ...       ...
202                             Kiwi         1
203            Knife Plastic - White         1
204                       Lambcasing         1
205               Lentils - Red, Dry         1
206                    Yoghurt Tubes         1

[207 rows x 2 columns]

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [68]:
data_not_purchased_products = data_products_top5.merge(data_pivot.reset_index()[['ProductName', 200]])
data_not_purchased_products = data_not_purchased_products[data_not_purchased_products[200] == 0]
data_not_purchased_products = list(data_not_purchased_products.head(5)['ProductName'])
data_not_purchased_products

['Soup - Campbells Bean Medley',
 'Muffin - Carrot Individual Wrap',
 'Bay Leaf',
 'Pork - Kidney',
 'Wanton Wrap']

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

In [89]:
customers_recommendations = {}
customers = list(data['CustomerID'].unique())

for i in customers:
    top5_similar_customers = list(euclid_dist_norm[i].sort_values(ascending=False).iloc[1:6].index)
    data_top5_similar_customers = data_grouped[data_grouped['CustomerID'].isin(top5_similar_customers)]
    data_products_top5 = data_top5_similar_customers.groupby('ProductName')['Quantity'].sum().sort_values(ascending=False).reset_index()
    data_not_purchased_products = data_products_top5.merge(data_pivot.reset_index()[['ProductName', i]])
    data_not_purchased_products = data_not_purchased_products[data_not_purchased_products[i] == 0]
    data_not_purchased_products = list(data_not_purchased_products.head(5)['ProductName'])
    customers_recommendations[i] = data_not_purchased_products

In [90]:
customers_recommendations[200]

['Soup - Campbells Bean Medley',
 'Muffin - Carrot Individual Wrap',
 'Bay Leaf',
 'Pork - Kidney',
 'Wanton Wrap']

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

In [91]:
df_customers_recommendations = pd.DataFrame(customers_recommendations)
df_customers_recommendations = df_customers_recommendations.T.reset_index()
df_customers_recommendations = df_customers_recommendations.rename(columns={'index': 'CustomerID', 
                                                                            0: 'Product_1', 
                                                                            1: 'Product_2', 
                                                                            2: 'Product_3', 
                                                                            3: 'Product_4', 
                                                                            4: 'Product_5'})
df_customers_recommendations = df_customers_recommendations.sort_values(by='CustomerID')
df_customers_recommendations

,CustomerID,Product_1,Product_2,Product_3,Product_4,Product_5
411,33,Butter - Unsalted,Wine - Ej Gallo Sierra Valley,Soup - Campbells Bean Medley,Wine - Blue Nun Qualitatswein,Chicken - Soup Base
391,200,Soup - Campbells Bean Medley,Muffin - Carrot Individual Wrap,Bay Leaf,Pork - Kidney,Wanton Wrap
149,264,Soupfoamcont12oz 112con,Wine - Two Oceans Cabernet,Bread - Italian Roll With Herbs,"Veal - Inside, Choice","Fish - Scallops, Cold Smoked"
832,356,Butter - Unsalted,"Veal - Inside, Choice","Beets - Candy Cane, Organic","Nut - Chestnuts, Whole",Lamb - Ground
128,412,Olive - Spread Tapenade,Sprouts - Baby Pea Tendrils,Wine - Blue Nun Qualitatswein,"Pepper - Black, Whole",Soup - Campbells Bean Medley
...,...,...,...,...,...,...
306,97928,"Soup - Campbells, Lentil","Cheese - Brie,danish",Wiberg Super Cure,Pants Custom Dry Clean,Shrimp - 31/40
524,98069,Skirt - 29 Foot,Beans - Kidney White,Milk - 1%,Cheese - Taleggio D.o.p.,Sprouts - Baby Pea Tendrils
697,98159,Chips Potato Salt Vinegar 43g,Tea - English Breakfast,"Wine - Red, Harrow Estates, Cab",Bread - Raisin Walnut Oval,Wine - Redchard Merritt
92,98185,Crackers - Trio,Pernod,Tea - Jasmin Green,Pastry - Choclate Baked,"Peas - Pigeon, Dry"
161,98200,Beans - Wax,Sherry - Dry,Pork - Hock And Feet Attached,Pears - Bosc,"Soup - Campbells, Cream Of"

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.

In [92]:
cosine_dist_norm = pd.DataFrame(1/(1 + squareform(pdist(X=data_pivot.T, metric='cosine'))),
                                index=data_pivot.columns,
                                columns=data_pivot.columns)

customers_recommendations_2 = {}
customers = list(data['CustomerID'].unique())

for i in customers:
    top5_similar_customers = list(cosine_dist_norm[i].sort_values(ascending=False).iloc[1:6].index)
    data_top5_similar_customers = data_grouped[data_grouped['CustomerID'].isin(top5_similar_customers)]
    data_products_top5 = data_top5_similar_customers.groupby('ProductName')['Quantity'].sum().sort_values(ascending=False).reset_index()
    data_not_purchased_products = data_products_top5.merge(data_pivot.reset_index()[['ProductName', i]])
    data_not_purchased_products = data_not_purchased_products[data_not_purchased_products[i] == 0]
    data_not_purchased_products = list(data_not_purchased_products.head(5)['ProductName'])
    customers_recommendations_2[i] = data_not_purchased_products

df_customers_recommendations_2 = pd.DataFrame(customers_recommendations_2)
df_customers_recommendations_2 = df_customers_recommendations_2.T.reset_index()
df_customers_recommendations_2 = df_customers_recommendations_2.rename(columns={'index': 'CustomerID', 
                                                                            0: 'Product_1', 
                                                                            1: 'Product_2', 
                                                                            2: 'Product_3', 
                                                                            3: 'Product_4', 
                                                                            4: 'Product_5'})
df_customers_recommendations_2 = df_customers_recommendations_2.sort_values(by='CustomerID')
df_customers_recommendations_2

,CustomerID,Product_1,Product_2,Product_3,Product_4,Product_5
411,33,Knife Plastic - White,"Soup - Campbells, Beef Barley",Onions - Cippolini,Tea - Herbal Sweet Dreams,Muffin - Zero Transfat
391,200,Longos - Grilled Salmon With Bbq,Snapple Lemon Tea,General Purpose Trigger,"Thyme - Lemon, Fresh",Tomatoes Tear Drop
149,264,Pickerel - Fillets,"Water - Mineral, Natural",Snapple - Iced Tea Peach,Wine - Ej Gallo Sierra Valley,French Pastry - Mini Chocolate
832,356,Bread - English Muffin,Olive - Spread Tapenade,Bagel - Plain,Pork - Hock And Feet Attached,Wiberg Super Cure
128,412,"Salsify, Organic",Durian Fruit,Wine - Hardys Bankside Shiraz,Bread - Raisin Walnut Oval,Gatorade - Xfactor Berry
...,...,...,...,...,...,...
306,97928,"Spoon - Soup, Plastic",Beef - Montreal Smoked Brisket,Blackberries,Cheese Cloth No 100,Cake - Mini Cheesecake
524,98069,Sprouts - Baby Pea Tendrils,Juice - Orange,Muffin Batt - Blueberry Passion,Beer - Original Organic Lager,"Nut - Chestnuts, Whole"
697,98159,"Water, Tap",Bananas,Wine - Redchard Merritt,Chocolate - Compound Coating,Longos - Grilled Salmon With Bbq
92,98185,"Peas - Pigeon, Dry",Squid U5 - Thailand,Cheese - Taleggio D.o.p.,"Cheese - Brie, Triple Creme",Crackers - Trio
161,98200,Cheese - Cheddarsliced,Wine - Toasted Head,Cheese - Cottage Cheese,"Shrimp - Baby, Warm Water",Jolt Cola - Electric Blue