# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas

import numpy as np
import pandas as pd

from statsmodels.stats.weightstats import ztest
from scipy import stats
from scipy.stats import t

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [2]:
# Your code here:

path_data = '../data/Current_Employee_Names__Salaries__and_Position_Titles.csv'
salaries = pd.read_csv(path_data)

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:

salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:

salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33183 entries, 0 to 33182
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               33183 non-null  object
 1   Job Titles         33183 non-null  object
 2   Department         33183 non-null  object
 3   Full or Part-Time  33183 non-null  object
 4   Salary or Hourly   33183 non-null  object
 5   Typical Hours      8022 non-null   float64
 6   Annual Salary      25161 non-null  float64
 7   Hourly Rate        8022 non-null   float64
dtypes: float64(3), object(5)
memory usage: 2.0+ MB

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
# Your code here:

salaries_annual = salaries[salaries['Salary or Hourly'] == 'Salary']
salaries_hourly = salaries[salaries['Salary or Hourly'] == 'Hourly']
print('Salaried Employees: '+ str(salaries_annual['Name'].count()))
print('Hourly Employees: '+ str(salaries_hourly['Name'].count()))

Salaried Employees: 25161
Hourly Employees: 8022

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
# Your code here:

salaries.groupby(by='Department').count().sort_values(by='Name',ascending=False)['Name']

Department
POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Name, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [7]:
# Your code here:

# Test parameters 

hypothesis_mean = 30
sample_mean = salaries_hourly['Hourly Rate'].mean()
print(sample_mean)

alpha = 0.05

Z_score, p_value = ztest(salaries_hourly['Hourly Rate'], value=hypothesis_mean)

print(f'Z_score: {Z_score}', f'\np-value: {p_value}')

if p_value < alpha:
    print("The hourly wage of all hourly workers is significantly different from $30/hr")
else:
    print("The hourly wage of all hourly workers is not significantly different from $30/hr")

32.78855771628024
Z_score: 20.6198057854942
p-value: 1.8228873859286195e-94
The hourly wage of all hourly workers is significantly different from $30/hr

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [8]:
# Your code here:

# Test parameters 

hypothesis_mean = 86000
sample_mean = salaries_annual[salaries_annual['Department'] == 'POLICE']['Annual Salary'].mean()
print(sample_mean)

alpha = 0.05

Z_score, p_value = ztest(salaries_annual[salaries_annual['Department'] == 'POLICE']['Annual Salary'], value=hypothesis_mean)

print(f'Z_score: {Z_score}', f'\np-value: {p_value}')

if p_value < alpha:
    print("Salaries this year are higher than last year's mean of $86000/year a year for all salaried employees")
else:
    print("Salaries this year are not higher than last year's mean of $86000/year a year for all salaried employees")

86486.41450313339
Z_score: 3.081997005712994
p-value: 0.002056169057509571
Salaries this year are higher than last year's mean of $86000/year a year for all salaried employees

Using the `crosstab` function, find the department that has the most hourly workers.

In [9]:
# Your code here:

# create a crosstab table with Department and Salary or Hourly columns
dept_salary = pd.crosstab(salaries['Department'], salaries['Salary or Hourly'])

# select the 'Hourly' column and sort in descending order
hourly_workers = dept_salary['Hourly'].sort_values(ascending=False)

# get the department with the most hourly workers (the first row)
most_hourly_dept = hourly_workers.index[0]
print('The department with the most hourly workers is:', most_hourly_dept)

The department with the most hourly workers is: STREETS & SAN

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [10]:
# Your code here:

# Test parameters 

hypothesis_mean = 35
sample_mean = salaries_hourly[salaries_hourly['Department'] == 'STREETS & SAN']['Hourly Rate'].mean()
print(sample_mean)

alpha = 0.05

Z_score, p_value = ztest(salaries_hourly[salaries_hourly['Department'] == 'STREETS & SAN']['Hourly Rate'], value=hypothesis_mean)

print(f'Z_score: {Z_score}', f'\np-value: {p_value}')

if p_value < alpha:
    print("Their hourly wage is less than $35/hour")
else:
    print("their hourly wage is not less than $35/hour")

33.72837808807734
Z_score: -9.567447887848152
p-value: 1.0957711283886869e-21
Their hourly wage is less than $35/hour

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [14]:
# Your code here:

# calculate mean and standard deviation
mean = np.mean(salaries_hourly['Hourly Rate'])
std = np.std(salaries_hourly['Hourly Rate'])

# calculate standard error of the mean
sem = std / np.sqrt(len(salaries_hourly['Hourly Rate']))

# set significance level and degrees of freedom
alpha = 0.05
df = len(salaries_hourly['Hourly Rate']) - 1

# calculate confidence interval
ci = t.interval(1-alpha, df, loc=mean, scale=sem)

print('The 95% confidence interval for the hourly wage is:', ci)

The 95% confidence interval for the hourly wage is: (32.52347486867093, 33.053640563889545)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [17]:
# Your code here:

# calculate mean and standard deviation

mean = np.mean(salaries_annual[salaries_annual['Department'] == 'POLICE']['Annual Salary'])
std = np.std(salaries_annual[salaries_annual['Department'] == 'POLICE']['Annual Salary'])

# calculate standard error of the mean
sem = std / np.sqrt(len(salaries_annual[salaries_annual['Department'] == 'POLICE']['Annual Salary']))

# set significance level and degrees of freedom
alpha = 0.05
df = len(salaries_annual[salaries_annual['Department'] == 'POLICE']['Annual Salary']) - 1

# calculate confidence interval
ci = t.interval(1-alpha, df, loc=mean, scale=sem)

print('The 95% confidence interval for the salaried employees in the police is:', ci)

The 95% confidence interval for the salaried employees in the police is: (86177.06785530434, 86795.76115096244)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [13]:
# Your code here: